<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aijson.datacenter.reconsumer.mapper.SysUserMapper">
    <resultMap id="userDto" type="cn.aijson.datacenter.reconsumer.dto.UserDto">
        <result property="id" column="id"></result>
        <result property="name" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="sysUgroup" ofType="cn.aijson.datacenter.reconsumer.entity.SysUgroup" resultMap="userGroup"></collection>
        <collection property="roles" ofType="cn.aijson.datacenter.reconsumer.entity.SysRole" resultMap="role" javaType="java.util.List"></collection>
        <collection property="perms" ofType="cn.aijson.datacenter.reconsumer.entity.SysPerm" resultMap="perm" javaType="java.util.List"></collection>
    </resultMap>
    <resultMap id="userGroup" type="cn.aijson.datacenter.reconsumer.entity.SysUgroup">
        <id column="userGroupId"></id>
        <result property="ugroupName" column="ugroup_name"></result>
        <result property="created" column="ug_created"></result>
        <result property="updated" column="ug_updated"></result>
    </resultMap>
    <resultMap id="role" type="cn.aijson.datacenter.reconsumer.entity.SysRole">
        <id column="roleId"></id>
        <result property="roleName" column="role_name"></result>
        <result property="created" column="r_created"></result>
        <result property="updated" column="r_updated"></result>
    </resultMap>
    <resultMap id="perm" type="cn.aijson.datacenter.reconsumer.entity.SysPerm">
        <id column="permId"></id>
        <result property="created" column="p_created"></result>
        <result property="name" column="gname"></result>
        <result property="type" column="gtype"></result>
        <result property="updated" column="p_updated"></result>
    </resultMap>
    <sql id="result">
        a.id, a.name as username, a.password, b.id as userGroupId,
        c.ugroup_name,c.created as ug_created,c.updated as ug_updated,
        e.id as roleId,e.role_name as role_name,e.created as r_created,e.updated as r_updated,
        g.id as permId ,g.pval as pval,g.parent as parent,g.name as gname,g.type as gtype,
        g.leaf as leaf,g.created as p_created,g.updated as p_updated
    </sql>
    <!--<select id="queryAllUser" resultMap="userDto" >-->

        <!--select-->
        <!--<include refid="result"></include>-->
        <!--from sys_user a-->
        <!--left join sys_user_group b on a.id=b.user_id-->
        <!--left  join  sys_ugroup c on b.ugroup_id = c.id-->
        <!--left join sys_ugroup_role d on c.id = d.role_id-->
        <!--left join sys_role e on d.role_id = e.id-->
        <!--left join sys_role_perm f on e.id=f.perm_id-->
        <!--left join sys_perm g on f.perm_id = g.id;-->

    <!--</select>-->
    <select id="queryUser"   resultMap="userDto" parameterType="long" >
        select
        <include refid="result"></include>
        from sys_user a
        left join sys_user_group b on a.id=b.user_id
        left  join  sys_ugroup c on b.ugroup_id = c.id
        left join sys_ugroup_role d on c.id = d.role_id
        left join sys_role e on d.role_id = e.id
        left join sys_role_perm f on e.id=f.perm_id
        left join sys_perm g on f.perm_id = g.id;
        <where>
            a.id=${userId}
        </where>
    </select>
</mapper>
